---
title: "About | Code Stitch Web Designs"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "about/"
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/cabinets2-m.jpg"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/cabinets2.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/cabinets2.jpg"
                alt="kitchen cabinets"
                loading="eager"
                width="2500"
                height="1667"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/cabinets2-m.jpg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/cabinets2.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/cabinets2.jpg"
                        alt="cabinets"
                        loading="lazy"
                        width="400"
                        height="563"
                    />
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/construction-m.jpg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/construction.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/construction.jpg"
                        alt="house"
                        loading="lazy"
                        width="400"
                        height="563"
                    />
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Iron Ascent</h2>
                <p class="cs-text">
                    Welcome to Iron Ascent, where we believe in nurturing a holistic approach to fitness and well-being. Our state-of-the-art facility is designed to accommodate all your fitness needs, from high-energy workouts to serene moments of relaxation. Our passionate team of trainers is dedicated to helping you achieve your personal fitness goals, whether you're a seasoned athlete or just starting your journey. With a diverse range of classes, cutting-edge equipment, and personalized training sessions, we ensure that every member receives the support and guidance they need to thrive.
                </p>
                <p class="cs-text">
                    In addition to our comprehensive gym facilities, we offer a luxurious swimming pool and sauna to enhance your wellness experience. Dive into our sparkling pool for a refreshing swim, or unwind in our sauna to relieve stress and rejuvenate your body. At Iron Ascent, we prioritize not just fitness but also recovery and relaxation, making it the perfect place to cultivate a balanced lifestyle. Join us today and discover a community that inspires and motivates you to reach your fullest potential.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Iron Ascent was not only a dream of mine, but now is my safehaven.
                    </p>
                    <span class="cs-name">Justin Time</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img
                        class="cs-quote-icon"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                        alt="gavel"
                        width="136"
                        height="77"
                    />
                </div>
                <a href="/projects" class="cs-button-solid">Our Social medias</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
